
<div class="main">
  <h2 class="main-title">Navigate to</h2>
  <div class="main-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title >Todo List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          There you are able to follow up your actions. Add new ones and delete old ones, and also mark it as done.
        </p>
      </mat-card-content>
      <mat-card-actions class="main-actions">
        <button mat-raised-button color="accent" routerLink="todo">Go to</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title >Sports Store</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          There you are able to find sports items, check price and make an order. After that you should fill out the form and admin will be able to send your order for assembly.
        </p>
      </mat-card-content>
      <mat-card-actions class="main-actions">
        <button mat-raised-button color="accent" routerLink="store">Go to</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

