.todo-form {
  min-width: 150px;
  //max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
}

.form-checkbox {
  //margin: 20px 5px;
}
.btn-wrap {
  padding: 10px 0;
}
.form-btn {
  margin: 10px 10px 0 0;
}
